
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
    font-family: 'Lato', 'sans';
    color: #333333;
}

body {
    background: #dedede;
}

.code-challenge-container {
    width: 500px;
    margin: 0 auto;
    background: #ffffff;
    box-sizing: content-box;
    padding: 1rem;
}

@media (min-width: 768px) {
    .code-challenge-container {
        width: 720px;
    }
}

@media (min-width: 1024px) {
    .code-challenge-container {
        width: 990px;
    }
}

@media (min-width: 1300px) {
    .code-challenge-container {
        width: 1260px;
    }
}


.code-challenge__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.code-challenge__results {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.code-challenge__result {
    background: white;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
    border-bottom: solid 1px #dddddd;
    padding: .5rem;
}
.code-challenge__result:last-of-type {
    border-bottom: none;
}
@media (min-width: 768px) {
    .code-challenge__result {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
    }
}

.code-challenge__result-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
}
    .code-challenge__result-logo img {
        height: 4rem;
        width: 4rem;
        display: block;
    }

.code-challenge__result__details {
    flex-grow: 1;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding: .5rem .5rem;
    box-sizing: border-box;
}

.code-challenge__result__details__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .25rem;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .code-challenge__result__details__top {
    }
}

.code-challenge__result__product-id {
    margin-right: 2rem;
    margin-bottom: .25rem;
    font-weight: 600;
    width: 50%;
}
@media (min-width: 768px) {
    .code-challenge__result__product-id {
        width: 33%;
        margin-bottom: 0;
    }
}
@media (min-width: 1024px) {
    .code-challenge__result__product-id {
        width: 15%;
    }
}
@media (min-width: 1300px) {
    .code-challenge__result__product-id {
        width: 10%;
    }
}

.code-challenge__result__draw-number {
    font-style: italic;
    margin-bottom: .25rem;
    margin-right: 1rem;
}
@media (min-width: 768px) {
    .code-challenge__result__draw-number {
        width: 33%;
        margin-right: 2rem;
        margin-bottom: 0;
    }
}
@media (min-width: 1024px) {
    .code-challenge__result__draw-number {
        width: 15%;
    }
}
@media (min-width: 1300px) {
    .code-challenge__result__draw-number {
        width: 10%;
    }
}


.code-challenge__result__draw-numbers {
    display: flex;
    flex-direction: row;
}

.code-challenge__result__draw-numbers__number {
    line-height: 1rem;
    display: flex;
    margin-left: .25rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.code-challenge__result__draw-numbers__number--circle {
    font-size: .75rem;
    color: #ffffff;
    background-color: #666666;
    line-height: 1rem;
    display: flex;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    font-size: .75rem;
    justify-content: center;
    align-items: center;
}
.code-challenge__result__draw-numbers__number--circle-primary {
    background-color: #666666;
}

.code-challenge__result__draw-numbers__number--circle-secondary {
    background-color: #888888;
}

.code-challenge__result__draw-date {
    font-style: italic;
    color: #666666;
    flex-grow: 1;
}

.code-challenge__result__details__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.code-challenge__result__draw-jackpot-winners {
}

.code-challenge__result__draw-jackpot-winners__each {
    display: inline-block;
    font-style: italic;
    color: #666666;
}

.code-challenge__result__draw-jackpot {
}

.code-challenge__result__draw-jackpot__value {
    font-weight: 600;
    display: inline-block;
}
