
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
    font-family: 'Lato', 'sans';
    color: #333333;
}

body {
    background: #dedede;
}

.code-challenge-container {
    width: 500px;
    margin: 0 auto;
    background: #ffffff;
    box-sizing: content-box;
    padding: 1rem;
}

@media (min-width: 768px) {
    .code-challenge-container {
        width: 720px;
    }
}

@media (min-width: 1024px) {
    .code-challenge-container {
        width: 990px;
    }
}

@media (min-width: 1300px) {
    .code-challenge-container {
        width: 1260px;
    }
}


.code-challenge__title {

}
.code-challenge__results {

}

.code-challenge__result {

}

.code-challenge__result-logo {
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    background: white;

}
    .code-challenge__result-logo img {
        height: 4rem;
        width: 4rem;
        display: block;
    }

.code-challenge__result__details {

}

.code-challenge__result__details__top {

}

.code-challenge__result__product-id {

}
.code-challenge__result__draw-number {

}
.code-challenge__result__draw-date {

}
.code-challenge__result__details__bottom {

}
.code-challenge__result__draw-jackpot-winners {

}
.code-challenge__result__draw-jackpot {

}
