
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
    font-family: 'Lato', 'sans';
    color: #333333;
}

body {
    background: #dedede;
}

.code-challenge-container {
    width: 500px;
    margin: 0 auto;
    background: #ffffff;
    box-sizing: content-box;
    padding: 1rem;
}

@media (min-width: 768px) {
    .code-challenge-container {
        width: 720px;
    }
}

@media (min-width: 1024px) {
    .code-challenge-container {
        width: 990px;
    }
}

@media (min-width: 1300px) {
    .code-challenge-container {
        width: 1260px;
    }
}
