@model CodeChallengeGN.Website.Models.LatestResultsModel


@{
    ViewData["Title"] = "Code Challenge Glenn Nicoll";
}

<div class="code-challenge-container">
    <div class="code-challenge__title">Latest Results</div>
    <div class="code-challenge-draw-results">
        @foreach (var result in Model.DrawResults)
        {
            @Html.Partial("/Views/Partials/DrawResult.cshtml", result)
        }
    </div>
</div>
